/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #150f1e;
  color:#fff;
  font-size: 1em;
}
/*this is all ghetto for now*/
#container {
  text-align: center;
  margin-left:20%;
  margin-right:20%;
}

#container a {
  color:#fff;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
  border-bottom: 1px solid white;
  padding-bottom: 1px;
  padding-top: 20px;
  font-size: 1em;
}

#logo {
  margin-top: 10%;
  min-width: 200px;
  width:100%;
  display: block;
  text-align: center; 

}

@media only screen 
and (max-width : 420px) {

#container a {
font-size:.7em ;
}



}
